{% extends "layout.html" %}

{% block body %}
    <h2>Tasks that are Incompleted</h2>
    {% for task in all_tasks %}
        <p>
            {% if task.comp == False %}
            <br>
            # {{ task.id }}
            <br>
            Description of task: {{ task.desc }}
            <br>
            <a href="{{ url_for('update_task', id=task.id) }}">Update</a>
            {% endif %}
        </p>
    {% endfor %}

    <h2>Tasks that are Completed</h2>
    {% for task in all_tasks %}
    <p>
        {% if task.comp == True %}
        <br>
        # {{ task.id }}
        <br>
        Descrition of task: {{ task.desc }}
        <br>
        {% endif %}
    </p>
{% endfor %}

{% endblock body %}