{% extends "layout.html" %}

{% block body %}
    <h2>Tasks that are Incompleted</h2>
    {% for task in all_tasks %}
        <p>
            {% if task.completed == False %}
            <br>
            # {{ task.id }}
            <br>
            Description of task: {{ task.description }}
            <br>
            <a href="{{ url_for('update_task', id=task.id) }}">Edit Task</a>&ensp;&ensp;&ensp;
            <a href="{{ url_for('status', id=task.id) }}">Complete</a><br><br>
            <a href="{{ url_for('delete', id=task.id) }}">Delete Task</a>
            {% endif %}
        </p>
    {% endfor %}

    <h2>Tasks that are Completed</h2>
    {% for task in all_tasks %}
    <p>
        {% if task.completed == True %}
        <br>
        # {{ task.id }}
        <br>
        Descrition of task: {{ task.description }}
        <br>
        <a href="{{ url_for('update_task', id=task.id) }}">Edit Task</a> &ensp;&ensp;&ensp;
        <a href="{{ url_for('status_incomp', id=task.id) }}">Incomplete</a><br><br>
        <a href="{{ url_for('delete', id=task.id) }}">Delete Task</a>
        {% endif %}
    </p>
{% endfor %}

{% endblock body %}